# Fichiers système
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node.js / Electron (monorepo)
**/node_modules/
**/dist/
**/build/
**/*.asar
**/.next/
**/out/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
**/env/
**/venv/
**/ENV/
*.env

# IDE / éditeurs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
